APP_NAME=amzn-stock-agent
APP_ENV=dev
LOG_LEVEL=INFO

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini

LANGFUSE_PUBLIC_KEY=pk-lf-xxxxxxxx
LANGFUSE_SECRET_KEY=sk-lf-xxxxxxxx
LANGFUSE_BASE_URL=https://cloud.langfuse.com

VECTOR_STORE_PATH=./data/vectorstore
DOCS_PATH=./data/docs

DEFAULT_TICKER=AMZN
